                    body {
                        background: url(images/teslaa3.png);
                        background-size: 2000px 1000px;
                        background-repeat: no-repeat;
                        height: 500;
                        background-position: 0px 120px;
                    }